body {
    font-family: sans-serif;
    background-color: black;
    color: whitesmoke;
    margin:0;
    padding:0;
}

menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    position: fixed;
    top: 0;
    width: 100%;
}
.title{
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 2em;
    padding: 27px 20px;
    margin-right: auto;
}

menu li{
    padding:0;
}

menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
}

menu li a:hover, .active {
    background-color: black;
}

.title img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}